button,
input {
  outline: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}
.list-unstyled {
  margin-top: 5px;
  .media {
    display: flex;
    border: 1px solid #a2a4a8;
    margin-bottom: 5px;
    width: 100%;

    .media-body {
      width: 100%;
      padding-left: 15px;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;

      .btns {
        cursor: pointer;
      }

      .btns-edit,
      .btns-delete {
        margin-left: 15px;
      }
    }

    .img {
      height: 100px;
      width: 100px;
      border: 1px solid #e3e1e1;
    }
  }
}

.wrap-sort {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  .filter {
    display: flex;
    width: 300px;

    select {
      &:not(&:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.wrap-search {
  margin-top: 15px;
}

.blog-modal {
  .btns {
    margin-top: 20px;
  }

  .btns-close {
    margin-left: 15px;
  }

  .form-control {
    margin-bottom: initial;
  }

  .preview-img {
    margin-top: 10px;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 1px solid #e3e1e1;
  }

  .error {
    color: red;
    font-style: italic;
    font-size: 14px;
  }
}
